<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Highlighter Settings</title>
    <link rel="stylesheet" href="https://unpkg.com/mirotone/dist/styles.css"/>

    <script
            src="https://browser.sentry-cdn.com/6.14.0/bundle.min.js"
            integrity="sha384-1FVbcJ5cSGdCrMNyUndHGSl0WlS+Cq5zaYdfnVF7NqkkQpU+7plvm0NomKbzcD//"
            crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
        Sentry.init({
            dsn: 'https://af5a66fee3174f318ab6c6ccf6ae2071@sentry.io/1831923',
            release: 'miro-code-highlighter@<%= htmlWebpackPlugin.options.templateParameters.version %>'
        });
    </script>
    <script type="text/javascript" src="https://miro.com/app/static/sdk.1.1.js"></script>
</head>
<body>
<div class="grid">
    <div class="cs2 ce10">
        <h3 class="h3">Code syntax highlighter Settings</h3>
    </div>
    <div class="cs11 ce12 grid">
        <button class="button-icon button-icon-small icon-help" type="button" onclick="location.href='feedback.html';"></button>
        <button class="button-icon button-icon-small icon-close" type="button" onclick="miro.board.ui.closeModal();"></button>
    </div>
    <div class="cs1 ce12" style="height: 10px;">&nbsp;</div>
    <div class="cs2 ce4">Theme</div>
    <div class="cs5 ce11">
        <select id="themes_select" class="select"></select>
    </div>
</div>
</body>
</html>

<% htmlWebpackPlugin.files.js.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>?v<%= htmlWebpackPlugin.options.templateParameters.version %>"></script>
<% }) %>